<!-- PARTIALS FILE -->
<%- include("template/header", { titleWeb: '404 ERROR'})%>
<!-- 'Title' and 'Descrp' are server responses -->
<h1><%= Title %></h1>
<p><%= Descrp %></p>
<!-- PARTIALS FILE -->
<%- include("template/footer")%>
