<%- include("template/header", { titleWeb: 'Home'})%>

    <h1>THIS IS INDEX PAGE USING EJS</h1>
    <h2><%= Title %></h2> <!-- Title es información externa que viene desde el servidor -->
    <%- include("template/footer")%>