<%- include("template/header", { titleWeb: 'Home'})%><!-- PARTIALS FILE -->

<h1>Index page using EJS (Template Engine)</h1>
<h2><%= Title %></h2>
<!-- Title is the Server response (JSON) -->
<hr />
<hr />
<hr />
<%- include("template/footer")%><!-- PARTIALS FILE -->
