<!-- PARTIALS FILE -->
<%- include("template/header", { titleWeb: 'Settings'})%>
<!-- 'title' is a response data from Server -->
    <h1><%= Title %></h1>
    <!-- PARTIALS FILE -->
    <%- include("template/footer")%>
</html>