<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 'titleWeb' is replaced in different files depending on the tittle page -->
    <title><%= titleWeb %></title>
    <!-- Bootstrap downloaded -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <%- include("navbar")%><!--  PARTIALS FILE -->
  </body>
</html>
